@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap");

/* 전체스타일 */
* {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: white;
}

#wrap {
  width: 789px;s
  height: auto;
  border: 20px solid #ddd;
  border-radius: 5px;
  padding: 40px;
  margin: 10px auto;
}

/* 클릭 객체 속성 */
a {
  text-decoration: none;
  color: black;
}

/* 정렬 */
.div_algin_center {
  margin: 0 auto;
}

/* header 영역 */

header {
  padding: 20px;
  width: 798px;
}

/* nav 영역 */
nav {
  width: 798px;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
}

nav > ul {
  margin-left: 5px;
}

nav li {
  float: left;
  list-style: none;
  display: inline;
  width: 60px;
  text-align: center;
}

/* from 영역 */
nav form {
  float: right;
  list-style: none;
  margin-right: 10px;
}
input[type="text"] {
  width: 200px;
  height: 25px;
  border-radius: 20px 0 0 20px;
  text-align: center;
  margin-right: -4px;
}
input[type="submit"] {
  width: 50px;
  height: 29px;
  border-radius: 0px 20px 20px 0;
  text-align: center;
}

/* section 영역 */
#section_wrap {
  width: 800px;
  overflow: hidden;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 8px;
}

section {
  width: 598px;
  float: left;
  margin-top: 20px;
}

/* article 영역 */
article {
  border-bottom: 1px solid #aaa;
  padding-bottom: 10px;
}

article > h2 {
  margin: 5px 0 0 5px;
  font-size: 35px;
}
article > p {
  margin: 10px 10px;
}

article > img {
  margin: 10px 10px;
  width: 500px;
  padding-top: 10px;
}

/* aside 영역 */
aside {
  width: 198px;
  float: left;
  margin-top: 20px;
}

.category {
  padding: 1px 0 1px 10px;
  list-style: none;
}
.category li a {
  color: dimgrey;
  font-size: 15px;
}

.category2 {
  padding: 1px 0 1px 10px;
  margin-top: 20px;
  list-style: none;
}

.category2 li a {
  color: dimgrey;
  font-size: 15px;
}

/* footer 영역 */

footer {
  width: 798px;
  height: 100px;
  padding-left: 40px;
  line-height: 50px;
  font-size: 15px;
  color: blue;
}
footer > a {
}
