<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>GuestBook</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
 	<!-- Servlet 등록/ 이름,클래스 / init-param --> 
 	<servlet>
 		<servlet-name>JdbcDriverLoad</servlet-name>
 		<servlet-class>guest.jdbc.JdbcDriverLoad</servlet-class>
 		<init-param>
 			<param-name>jdbcdriver</param-name>
 			<param-value>com.mysql.cj.jdbc.Driver</param-value>
 		</init-param>
 		<load-on-startup>1</load-on-startup> <!-- 어플리케이션 시작 할 때 객체 생성 해주고 실행해준다. -->
 		
 	</servlet>
 
 	
  
</web-app>